*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: url(/img/background\ 3.jpg);
    background-size: cover;
}

.img{
    background-repeat: no-repeat;
    background: transparent;
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img img{
    position: relative;
    right: -100px;
    width: 50px;
    max-width: 100%;
    height: auto;
}

.navbar{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: -55px;
    left: -90px;
}

.navbar a{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    transition: transform all ease 1s;
}

.navbar a:hover{
    transform: translateX(1px);
    color: white;
    font-size: x-large;
}

.bkg{
    position: relative;
    /* border: 1px solid white; */
    width: 1300px;
    height: 2000px;
    left: 30px;
    border-radius: 10px 10px 10px 10px;
    background: transparent;
    backdrop-filter: blur(80px);
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery img{
    width: 100%;
    min-height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}