*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: url(/img/background\ 2.jpg);
    background-size: cover;
}

.img{
    background-repeat: no-repeat;
    background: transparent;
    backdrop-filter: blur(90px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img img{
    position: relative;
    right: -100px;
    width: 50px;
    max-width: 100%;
    height: auto;
}

.navbar{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: -55px;
    left: -90px;
}

.navbar a{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    transition: transform all ease 1s;
}

.navbar a:hover{
    transform: translateX(1px);
    color: white;
    font-size: x-large;
}

.frm{
    position: relative;
    border: 2px solid white;
    width: 400px;
    height: 500px;
    border-radius: 20px 20px 20px 20px;
    top: 20px;
    right: -480px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.frm h1{
    position: relative;
    left: 128px;
    top: 30px;
    font-weight: 700;
    font-size: 3rem;
}

.txt-one{
    position: relative;
    top: 100px;
    right: -30px;
    font-size: 1.5rem;
}

.inp-one{
    position: relative;
    right: -30px;
    background: transparent;
    border: none;
    outline: none;
    top: 110px;
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.txt-two{
    position: relative;
    top: 140px;
    right: -30px;
    font-size: 1.5rem;
}

.inp-two{
    position: relative;
    right: -30px;
    background: transparent;
    border: none;
    outline: none;
    top: 150px;
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.sub{
    position: relative;
    top: 190px;
    right: -155px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border: 2px solid;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
}